body {
    font-size: 16px;
    background: #c7eaea;
    color: #1d1e19;
    font-family: monospace;
    width: 100%;
    overflow-x: hidden;
}
.page {
    transform:rotate(2deg);
    -ms-transform:rotate(2deg);
    /* IE 9 */
    -webkit-transform:rotate(2deg);
    /* Opera, Chrome, and Safari */
}
img {
    max-width: 70%;
    width: auto;
    height: auto;
    }